<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F3AFDB7297F718100BDF402</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F6FF09029A20FB900E468DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F6FF09729A20FB900E468DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F8F586F29973F4B006B8EF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F9F4EAB28E982D30025930E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F9F4EB328E982D30025930E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
